<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="0EDJ7BH21SKXJNFT9MR2"/>
		<add key="AWSSecretKey" value="qhBqCf8HEgR4Wz0tZoyGhqP59OTegkNhNGqjBQGj"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
